:root{
    /* Colors proyect */
    --color-1: #125DBB;
    --color-2: #1B82E7;
    --color-3: #209CEE;
    --inverse: #FFB733;

    /* Colors standars */
    --link      : #3273DC;
    --info      : #209CEE;
    --success   : #23D160;
    --warning   : #FFDD57;
    --alert     : #FF3860;

    /* Colors standars inverse */
    --link-inverse : #FFFFFF;
    --info-inverse      : #FFFFFF;
    --success-inverse   : #FFFFFF;
    --warning-inverse   : #4C4116;
    --alert-inverse     : #FFFFFF;

    /* Shade colors */
    --black             : hsl(0, 0,  0%);
    --black-bis         : hsl(0, 0%, 7%);
    --black-ter         : hsl(0, 0%, 14%);
    --grey-darker       : hsl(0, 0%, 21%);
    --grey-dark         : hsl(0, 0%, 29%);
    --grey              : hsl(0, 0%, 48%);
    --grey-light        : hsl(0, 0%, 71%);
    --grey-lighter      : hsl(0, 0%, 86%);
    --white-ter         : hsl(0, 0%, 96%);
    --white-bis         : hsl(0, 0%, 98%);
    --white             : #FFFFFF;
}